DISCORD_TOKEN=вставьте_новый_токен_бота
PREFIX=.
# GUILD_ID=идентификатор_сервера (необязательно, по умолчанию используется первый сервер бота)
TEAMLEAD_ROLE_ID=1545360250838712402
STATUS_TEXT=Лучшие боты на AfkFlow.xyz\nПодробнее: afkflow.xyz/bots